<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">
<h1>About</h1>
<br>
<h2>This is a Password Generator created by Mr.Frost</h2>
<p>Hello guys, I'm learning how to build a website
    using django.And this is my first site.
    ENJOY!
</p>
<h3><strong>Thanks for visiting the website!!!</strong></h3>
</div>